<a href="https://colab.research.google.com/github/OAlimana/GeekBrains/blob/main/%22lesson%202%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ДЗ ук уроку 2
# Задание 1
import pandas as pd

In [ ]:
df_marketing = pd.read_csv('marketing_campaign.csv')
df_marketing.describe()

       user_id date_served  ... language_displayed converted
count    10037       10021  ...              10037     10022
unique   10037          31  ...                  4         2
top      a1000     1/15/18  ...            English     False
freq         1         789  ...               9793      8946

[4 rows x 6 columns]

In [ ]:
df_marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10037 non-null  object
 1   date_served         10021 non-null  object
 2   marketing_channel   10022 non-null  object
 3   variant             10037 non-null  object
 4   language_displayed  10037 non-null  object
 5   converted           10022 non-null  object
dtypes: object(6)
memory usage: 470.6+ KB

In [ ]:
print('Количество строк в marketing_campaign = ', len(df_marketing))

Количество строк в marketing_campaign =  10037

In [ ]:
df_subscr = pd.read_csv('subscribers.csv')
df_subscr.describe()

       user_id subscribing_channel date_subscribed date_canceled is_retained
count    10037                1856            1856           577        1856
unique   10037                   5              31           115           2
top      a1000           Instagram         1/16/18        4/2/18        True
freq         1                 600             163            15        1279

In [ ]:
df_subscr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   subscribing_channel  1856 non-null   object
 2   date_subscribed      1856 non-null   object
 3   date_canceled        577 non-null    object
 4   is_retained          1856 non-null   object
dtypes: object(5)
memory usage: 392.2+ KB

In [ ]:
print('Количество строк в subscribers = ', len(df_subscr))

Количество строк в subscribers =  10037

In [ ]:
df_users = pd.read_csv('users.csv')
df_users.describe()

       user_id    age_group language_preferred
count    10037        10037              10037
unique   10037            7                  4
top      a1000  19-24 years            English
freq         1         1682               9275

In [ ]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10037 non-null  object
 1   age_group           10037 non-null  object
 2   language_preferred  10037 non-null  object
dtypes: object(3)
memory usage: 235.4+ KB

In [ ]:
print('Количество строк в users = ', len(df_users))

Количество строк в users =  10037

In [ ]:
df_1 = pd.merge(df_marketing, df_subscr, on = 'user_id', how = 'left')
df_1.head()

  user_id date_served  ... date_canceled is_retained
0   a1000      1/1/18  ...           NaN        True
1   a1001      1/1/18  ...           NaN        True
2   a1002      1/1/18  ...           NaN        True
3   a1003      1/1/18  ...           NaN        True
4   a1004      1/1/18  ...           NaN        True

[5 rows x 10 columns]

In [ ]:
df_rez = pd.merge(df_1, df_users, on = 'user_id', how = 'left')
df_rez.head()

  user_id date_served  ...    age_group language_preferred
0   a1000      1/1/18  ...   0-18 years            English
1   a1001      1/1/18  ...  19-24 years            English
2   a1002      1/1/18  ...  24-30 years            English
3   a1003      1/1/18  ...  30-36 years            English
4   a1004      1/1/18  ...  36-45 years            English

[5 rows x 12 columns]

In [ ]:
# Задание 2
df_rez.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   subscribing_channel  1856 non-null   object
 7   date_subscribed      1856 non-null   object
 8   date_canceled        577 non-null    object
 9   is_retained          1856 non-null   object
 10  age_group            10037 non-null  object
 11  language_preferred   10037 non-null  object
dtypes: object(12)
memory usage: 1019.4+ KB

In [ ]:
df_rez.describe()

       user_id date_served  ...    age_group language_preferred
count    10037       10021  ...        10037              10037
unique   10037          31  ...            7                  4
top      a1000     1/15/18  ...  19-24 years            English
freq         1         789  ...         1682               9275

[4 rows x 12 columns]

In [ ]:
# Задание 3
print('Эффективность по привлечению:\n')
df_rez['subscribing_channel'].value_counts(normalize = True).head()

Эффективность по привлечению:

Instagram    0.323276
Facebook     0.239763
House Ads    0.190733
Email        0.156250
Push         0.089978
Name: subscribing_channel, dtype: float64

In [ ]:
# Задание 4
print('Самая рання дата подписки:\n')
pd.to_datetime(df_rez['date_subscribed']).min()

Самая рання дата подписки:

Timestamp('2018-01-01 00:00:00')

In [ ]:
# Задание 5
users_language = df_rez.filter(items = ['age_group', 'language_preferred'])
users_language.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age_group           10037 non-null  object
 1   language_preferred  10037 non-null  object
dtypes: object(2)
memory usage: 235.2+ KB

In [ ]:
#определяем группу, которая имеет наибольшую долю
df_rez['age_group'].value_counts(normalize = True)*100

19-24 years    16.757995
24-30 years    15.622198
0-18 years     15.333267
30-36 years    13.500050
36-45 years    13.480124
45-55 years    13.480124
55+ years      11.826243
Name: age_group, dtype: float64

In [ ]:
#определяем топ носителей языка
df_rez['language_preferred'].value_counts().head()

English    9275
Spanish     450
German      167
Arabic      145
Name: language_preferred, dtype: int64